# Node dependencies
node_modules/
dist/
build/
.env

# Python dependencies
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/
# Allow models
# *.model
# *.pt

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
